[

 {kernel, [{logger_level, notice},
           {logger,
            [{handler,
              default,
              logger_std_h,
              #{config => #{file => "/storage/code/scrabble/log/out.log", sync_mode_qlen => 100},
                formatter => {logger_formatter,
                              #{template => [[logger_formatter, header],
                                             {pid, [" ", pid, ""], ""},
                                             {mfa, [" ", mfa, ":", line], ""},
                                             "\n",
                                             msg,
                                             "\n"],
                                legacy_header => true,
                                single_line => false}}}}]}]
 }

].